---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<BaseLayout title="Blog">

  <main class="container">

    <section class="hero">
      <h1 class="hero-title">Blog</h1>
      <p class="hero-subtitle">
        Yazılım, sistem tasarımı ve teknik düşünce.
      </p>
    </section>

    <section class="post-grid">
      {posts.map(post => (
        <article class="post-card">
          <h2>
            <a href={`/blog/${post.slug}/`}>
              {post.data.title}
            </a>
          </h2>
          <p>{post.data.description}</p>
        </article>
      ))}
    </section>

  </main>

</BaseLayout>