---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { sortPostsByDateDesc } from "../lib/sort";

let posts = await getCollection("blog", ({ data }) => !data.draft);
posts = sortPostsByDateDesc(posts);
---

<BaseLayout title="Blog">

  <main class="container">

    <section class="hero">
      <h1 class="hero-title">Blog</h1>
      <p class="hero-subtitle">
        Yazılım, sistem tasarımı ve teknik düşünce.
      </p>
    </section>

    <section class="post-grid">
      {posts.map(post => (
        <article class="post-card">
          <h2>
            <a href={`/blog/${post.slug}/`}>
              {post.data.title}
            </a>
          </h2>
          <p>{post.data.description}</p>

          {post.data.publishDate && (
            <small class="post-date">
              {post.data.publishDate.toLocaleDateString("tr-TR")}
            </small>
          )}
        </article>
      ))}
    </section>

  </main>

</BaseLayout>